# Copyright 2024 Tobias Senti
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

out/*
pdk/
slpp_all
*.rpt
*.log
.setup
openroad/out
openroad/*.log
openroad/start.tcl
utils/__pycache__
utils/lef_def_parser/__pycache__
